.navbar{
  background-color: #121212;
  width: 100%;
  height: 10vh;
  position: fixed;
  bottom: 0%;
  z-index: 999999;
  box-shadow: 0px 0px 150% 0px;
}

.navbar-item{
  width: 100%;
}

.navbar h4{
  font-size: 2vw;
  
}

.card{
  width: 85% !important;
  background-color: #121212;
}

h1,h2,h3,h4,h5,h6,p{
  color: white;
}


/*linear-gradient(#091236, #1E215D)*/

.Home, .Login, .Register{
  position: relative;
  top: 15vh;
}

.VideoPage{
  height: 85vh;
  
}

label[for="file-input"] { display: block; margin-bottom: 1em; font-size: 1em; color: #fff; opacity: .9; font-weight: bold; } input[type="file"] { cursor: pointer !Important; } input[type="file"]::-webkit-file-upload-button { border: none; padding: 5px 12px; background: #9e2baf; color: #fff; font-size: 1em; transition: all .4s; cursor: pointer; border-radius: 20px; } input[type="file"]::-ms-browse { border: none; padding: 5px 12px; background: #9e2baf; color: #fff; font-size: 1em; transition: all .4s; cursor: pointer; border-radius: 20px; color: #000000; }

.navbar-title{
  background: rgb(255,255,255);
  background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(255,0,0,1) 100%);
  color: #000000
}

.card-item{
  width: 80%;
  height: 60vh !important;
  
}

.video-react {
  width: 75% !important;
  float: left !important;
  cursor: pointer !important;

}

.video-react-control-bar{
  width: 100% !important;

}

.video-react-big-play-button{
  width: 75% !important;
  display: none !important;
  
}

.video-react-fullscreen {
  position: fixed !important;
  left: 0 !important;
  top: 0 !important;
  bottom: 0 !important;
  right: 0 !important;
  z-index: 9999 !important;
  width: 100% !important;
  height: 100vh !important;

}

.left{
  width: 35% !important;
  height: 85vh !important;
  position: absolute;
  top: 0%;
  left: 0%;
  z-index: 9999999999;
  
}

.right{
  width: 35% !important;
  height: 85vh !important;
  position: absolute;
  top: 0%;
  right: 0%;
  z-index: 9999999999;
}

.videoTitle{
  float: left;

  max-width: 110vh;
}

.videoDesc{
  float: left;
  
  max-width: 5h;

}

.videoInfos{
  background-color: #1e2122;
  width: 75%;
  height: 80vh;

  position: absolute;
  top: 137.5%;
  left: 0%;

  max-height: 80vh;

}

.videoComments{
  float: right;
  width: 25%;
  height: 181.75vh;
  background-color: 8a8a8a;

}

.ant-layout-content{
  float: right;
  width: 100%;
  margin-top: 0px !important;
  padding: 0px !important;

}

.videoCommentUserInfos img{
  width: 50px !important;
  height: 50px !important;
  border-radius: 50%;
}

body{
	background-color: "#191A1C";
}

.navbar{
	width: 100% !important;
}

#nav-mobile{
	display: flex !important;
	font-size: 3vh !important;
}

.delete-icon{
	float: right;
	
	z-index: 999;
}

.navbar-h6{
	float: left !important;
}

.signout-h6{
	color: white !important;
}

nav .brand-logo{
	left: 0 !important;
	float: left !important;
}

.brand-logo{
	color: black !important;
	font-family: 'Grand Hotel', cursive;
	
	left: 0 !important;
	/*float: left !important;*/
	
}


.navbar-li{
	color: black !important;
}

.navbar-li{
	color: black !important;
}

.card{
	max-width: 425px;
}

.auth-card{
	padding: 20px;
	text-align: center;
	max-width: 400px;
	margin: 10px auto;
}

.btn{
	color: white !important;
	background-color: black !important;
}

input{
  color: white;

}

.input-field input[type=text]:focus {
   border-bottom: 1px solid black !important;
	box-shadow: 0 1px 0 0 black !important;
}

.gallery{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}

.item{
	width: 30%;
	margin: 1.5%;
}

.home-card{
	max-width: '500px';
	height: max-content;
}

.events{
	float: left;
	margin: -3px;
}

.username{
	font-size: 97.5%;
	margin: 2.5%;
	
	z-index: 999;
}

.menu{
	position: fixed;
	z-index: 9999999;
	width: 100%;
}

.HamburgerMenu{
	position: fixed;
	z-index: 9999999;
	bottom: 90%;
	
}

.AppBarPhone{
	background-color: #e5e5e5;
	width: 100%;
	height: 10vh;
	position: fixed;
	bottom: 90%;
	z-index: 999999;
	
}

.appbarlogo{
	position: fixed;
	bottom: 88%;
	right: 0%;
	font-size: 5vh;
}

.app{
	position: absolute;
	top: 12.5%;
	
	margin-left: auto;
	margin-right: auto;
	left: 0;
	right: 0;
	text-align: center;
}

.notfound{
	position: relative;
	top: 100px;
	
}

.notfound a {
	font-family: 'Montserrat', sans-serif;
	font-size: 14px;
	text-decoration: none;
	text-transform: uppercase;
	background: #0046d5;
	display: inline-block;
	padding: 15px 30px;
	border-radius: 40px;
	color: #fff;
	font-weight: 700;
	-webkit-box-shadow: 0px 4px 15px -5px #0046d5;
	box-shadow: 0px 4px 15px -5px #0046d5;
	position: relative;
	top: 160px;

}

.notfound .notfound-404 h1 {
	font-family: 'Montserrat', sans-serif;
	font-size: 60px;
	margin: 0px;
	font-weight: 900;
	position: absolute;
	left: 50%;
	-webkit-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	transform: translateX(-50%);
	background: url("https://res.cloudinary.com/qatar-tube/image/upload/v1626847964/bg_bcact5.jpg") no-repeat;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	background-size: cover;
	background-position: center;
}


